<!-- v.20220915 -->
[@@@SUB-TEMPLATE:admin-form-styles.mtpl.htm@@@]
<center><div><table><tr><td>
<form id="add_form" name="add_form" class="ux-form ux-form-aligned" onSubmit="return false;">
<input type="text" name="username" style="background:#FFCC00; display:none;"><!-- fake field to avoid autocomplete -->
<input type="password" name="password" style="background:#FF3300; display:none;"><!-- fake field to avoid autocomplete -->
	<legend><h1>Add New Account</h1></legend>
	<br>
	<div class="ux-control-group">
		<label><i class="sfi sfi-user"></i>&nbsp;Username</label>
		<input type="text" autocomplete="off" name="frm[id]" placeholder="user.name" class="ux-input-1-2" required>
	</div>
	<div class="ux-control-group">
		<label>Email</label>
		<input type="text" autocomplete="off" name="frm[email]" placeholder="email@dom.ext" class="ux-input-1-2">
	</div>
	<div class="ux-control-group">
		<label>Password</label>
		<input type="password" autocomplete="off" name="frm[pass]" placeholder="Password" class="ux-input-1-2" required>
	</div>
	<div class="ux-control-group">
		<label>Retype Password</label>
		<input type="password" autocomplete="off" name="frm[repass]" placeholder="Password Retype" class="ux-input-1-2" title="Retype the password" required>
	</div>
	<div class="ux-control-group">
		<label>First Name</label>
		<input type="text" autocomplete="off" name="frm[name_f]" placeholder="First Name" class="ux-input-1-2" required>
	</div>
	<div class="ux-control-group">
		<label>Last Name</label>
		<input type="text" autocomplete="off" name="frm[name_l]" placeholder="Last Name" class="ux-input-1-2" required>
	</div>
	<legend>&nbsp;</legend>
	<div class="ux-controls">
		<button type="button" class="ux-button ux-button-spacing" onClick="smartJ$Browser.CloseDelayedModalPopUp();"> Cancel &nbsp; <i style="color:#555555;" class="sfi sfi-spinner11"></i></button>
		<button type="button" class="ux-button ux-button-info ux-button-spacing" onClick="smartJ$Browser.SubmitFormByAjax('add_form', '[###ACTIONS-URL|js|html###]', 'yes');"> Save &nbsp; <i class="sfi sfi-checkmark"></i></button>
	</div>
</form>
</td></tr></table></div></center>