<!-- View: admins-list v.20230123 -->
<style>
.slick-cell {
	padding-left: 4px !important;
	padding-right: 4px !important;
}
.smartGrid_AlignCenter {
	text-align: center;
}
.smartGrid_AlignRight {
	text-align: right;
}
.smartGrid_Highlight {
	color: #44619D;
	font-weight: bold;
}
.smartGrid_Important {
	font-weight: bold;
}
.smartGrid_ColId {
	color: #444444;
}
.smartGrid_ColEmail {
	color: #555588;
}
.smartGrid_ColName {
	color: #222222;
}
.smartGrid_ColDate {
	color: #444444;
	font-size: 0.75rem !important;
}
a#nolink {
	cursor: pointer !important;
	text-decoration: none !important;
	border-bottom: none !important;
}
</style>
<script>
	//--
	const itemURL = '[###ACTIONS-URL|js###]';
	const IdOfGrid = 'AdminsListGrid';
	const TheGrid = new SmartGrid(IdOfGrid, 'infoTotalRows', itemURL + 'list', 'auth_admins_list_tbl', 'id', 'ASC', '', 'filtering');
	//--
</script>
<div>
	<table style="width:calc(100vw - 25px);"><tr>
	<td style="width:70%;"><a id="nolink" href="[###CURRENT-SCRIPT|html###]" class=""><i class="sfi sfi-users sfi-2x" style="color:#5E6885;"></i> &nbsp; </a> <span style="color:#444444; font-size:2.25rem; font-weight:bold;">Auth.Admins Management :: <span id="infoTotalRows"># / # @</span></span></td>
	<td>&nbsp;</td>
	<td style="width:30%; text-align:right;">
	<select title="Available Namespaces" id="areas-list" size="1" class="ux-field" style="min-width:300px !important; max-width:70vw;" onChange="((list) => { if(typeof(list) == undefined) { return; } const url = list.val(); if(url != undefined) { self.location = String(url); } })($(this));">
	<option value=""> --- Select a NameSpace --- </option>
	[%%%LOOP:AREAS%%%]<option value="[###AREAS._-VAL-_|html###]">[###AREAS._-KEY-_|html###]</option>[%%%|N%%%][%%%/LOOP:AREAS%%%]
	</select>
	</td>
	</tr></table>
</div>
<br>
<form id="filtering" name="filtering" class="ux-form" onSubmit="return false;">
	<span style="display:inline-block;">
		<input type="text" id="filter-id" name="id" placeholder="ID" value="" style="width:175px;">
	</span>
	<button type="button" class="ux-button ux-button-details" onClick="TheGrid.loadGridData(0);">Filter &nbsp; <i class="sfi sfi-search"></i></button>
	<button type="button" class="ux-button ux-button-secondary" onClick="TheGrid.resetGrid(); TheGrid.loadGridData(0);">Reset &nbsp; <i class="sfi sfi-history"></i></button>
	<button type="button" class="ux-button ux-button-primary" style="margin-left:50px;" onClick="smartJ$Browser.PopUpLink('[###ACTIONS-URL|js|html###]new-form', 'auth_admins_list_mod'); return false;"> Add new &nbsp; <i class="sfi sfi-user-plus"></i></button>
</form>
<br>
<div id="AdminsListNavPager"></div>
<form class="ux-form"><div id="AdminsListGrid" class="slickgrid-table" style="font-size:10px;width:100%;height:10px;"></div></form>
<script>
jQuery(() => {

	// Column Formatters

	const formatter_Meta = (cellNode, row, dataContext, colDef) => {
		const id_user = dataContext['id'];
		const email = dataContext['email'];
		const fname = dataContext['name_f'];
		const lname = dataContext['name_l'];
		const active = dataContext['active'];
		let txtSt = 'Inactive';
		let btnCls = 'special';
		let icnCls = 'user-minus';
		if(active == 1) {
			txtSt = 'Active';
			btnCls = 'regular';
			icnCls = 'user-check';
		}
		$(cellNode).empty().html('').append('<button class="ux-button ux-button-' + smartJ$Utils.escape_html(btnCls) + ' ux-button-xsmall" onClick="smartJ$Browser.PopUpLink(\'' + smartJ$Utils.escape_js(itemURL + 'edit-form' +'&id=' + smartJ$Utils.escape_url(id_user)) +'\', \'auth_admins_list_mod\'); return false;" title="Edit ' + smartJ$Utils.escape_html(txtSt) + ' User - Click to Open the Editor"><i class="sfi sfi-' + smartJ$Utils.escape_html(icnCls) + '"></i></button>&nbsp;');
	};

	const formatter_Keys = (row, cell, value, columnDef, dataContext) => {
		if(value > 0) {
			return '<i class="sfi sfi-key" style="color:#FFCC00; cursor:help;" title="Key Size: ' + smartJ$Utils.escape_html(value) + '"></i>';
		}
		return '';
	};

	const formatter_Active = (row, cell, value, columnDef, dataContext) => {
		if(value == 1) {
			return '<i class="sfi sfi-checkbox-checked" style="color:#6D8813; cursor:pointer;" title="Active (Double-Click to Change)"></i>';
		} else {
			return '<i class="sfi sfi-checkbox-unchecked" style="color:#ED2839; cursor:pointer;" title="Inactive (Double-Click to Change)"></i>';
		}
	};

	const formatter_DateTime = (row, cell, value, columnDef, dataContext) => {
		value = parseInt(value);
		if(value > 0) {
			const d = new Date(value * 1000);
			value = d.getFullYear() + '-' + ('00' + (d.getMonth() + 1)).slice(-2) + '-' + ('00' + d.getDate()).slice(-2) + ' ' + ('00' + d.getHours()).slice(-2) + ':' + ('00' + d.getMinutes()).slice(-2) + ':' + ('00' + d.getSeconds()).slice(-2);
		} else {
			value = '-';
		}
		return smartJ$Utils.escape_html(value);
	};

	const formatter_Privileges = (row, cell, value, columnDef, dataContext) => {
		return '<span style="color:#448FCE; font-size:0.8125rem; font-weight:bold;">' + smartJ$Utils.escape_html(value) + '</span>';
	};

	// Column Updaters
	const updateCellData = (url_segment_update) => {
		smartJ$Browser.SubmitFormByAjax('', '[###ACTIONS-URL|js|html###]edit-cell' + url_segment_update, 'yes', 'TheGrid.loadGridData(TheGrid.getOffset());', 'TheGrid.loadGridData(TheGrid.getOffset());');
	};

	// Grid Data Defs
	const columns = [
		{id:'meta', name:'', sortable:false, width:20, cssClass:'smartGrid_AlignCenter', asyncPostRender:formatter_Meta},
		{id:'keys-length', field:'keys-length', name:'Keys', sortable:false, width:20, cssClass:'smartGrid_AlignCenter', formatter:formatter_Keys},
		{id:'id', field:'id', name:'ID', sortable:true, width:75, cssClass:'smartGrid_ColId smartGrid_Important', editor:TextCellSelector},
		{id:'active', field:'active', name:'Active', sortable:true, sortNumeric:true, width:30, cssClass:'smartGrid_AlignCenter', formatter:formatter_Active, editor:CheckboxCellEditor},
		{id:'email', field:'email', name:'Email', sortable:true, width:100, cssClass:'smartGrid_ColEmail smartGrid_Important', editor:TextCellSelector},
		{id:'name_f', field:'name_f', name:'First name', sortable:true, width:70, cssClass:'smartGrid_ColName', editor:TextCellSelector},
		{id:'name_l', field:'name_l', name:'Last name', sortable:true, width:70, cssClass:'smartGrid_ColName', editor:TextCellSelector},
		{id:'modif', field:'modif', name:'Modified', sortable:true, sortNumeric:true, width:50, cssClass:'smartGrid_ColDate smartGrid_AlignCenter', formatter:formatter_DateTime},
		{id:'priv', field:'priv', name:'Privileges', sortable:false, width:125, editor:TextCellSelector, formatter:formatter_Privileges},
	];

	//-- Grid Options
	const options = {
		enableAddRow: false,
		enableCellNavigation: true,
		enableColumnReorder: false,
		enableAsyncPostRender: true,
		forceFitColumns: false,
		asyncPostRenderDelay: 15,
		rowHeight: 26,
		editable: true,
		autoEdit: false,
		asyncEditorLoading: false,
	};

	// Grid sizing
	let winW = $(window).width();
	let winH = $(window).height();
	$('#' + IdOfGrid).css({ 'width': parseInt(winW - 25), 'height': parseInt(winH - 160) });
	$(window).resize(function() {
		winW = $(window).width();
		winH = $(window).height();
		$('#' + IdOfGrid).css({ 'width': parseInt(winW - 25), 'height': parseInt(winH - 160) });
		TheGrid.grid.resizeCanvas();
		TheGrid.grid.autosizeColumns();
	});

	// Runtime
	TheGrid.initNavPager('AdminsListNavPager');
	TheGrid.initGrid(columns, options);
	TheGrid.grid.onCellChange = (row, cell, dataContext, columnDef) => {
		switch(columnDef.field) {
			case 'active':
				updateCellData('&column=' + smartJ$Utils.escape_url(columnDef.field) + '&value=' + smartJ$Utils.escape_url(dataContext[columnDef.field]) + '&id=' + smartJ$Utils.escape_url(dataContext['id']));
				break;
			default: // invalid
				console.log('WARNING: Table Column is not editable: ' + columnDef.field);
		}
	};
	TheGrid.grid.resizeCanvas();
	TheGrid.grid.autosizeColumns();
	TheGrid.loadGridData(0);

});
//--
</script>
<!-- #END :: View -->