<!-- AuthAdmins Logout # v.20220730 -->
<center><div>
	<table cellpadding="2">
		<tr valign="middle">
			<td align="center">
				<h1><span style="color:#778899!important;">Logout from :// All NameSpaces</span></h1>
				<h2>Clearing the Login Auth data ...</h2>
				<div id="logout-loader"><img src="[###IMG-LOADER|html###]"></div>
			</td>
		</tr>
	</table>
	<br>
</div></center>
<script>setTimeout(() => { self.location = '[###URL-LOGOUT|js###]'; }, [###TIME-REDIR|int###]);</script>
<!-- # AuthAdmins Logout -->