/***** Smart UX CSS Toolkit :: r.8.7 / smart.framework.v.8.7 *****/

/*
License: BSD
	extended by unixman, (stable.20221114), (c) 2015-2022 unix-world.org
	based on Pure.css v.1.0 :: https://github.com/pure-css/pure # (c) 2013 Yahoo! Inc.
	based on w3.css :: https://www.w3schools.com/w3css/4/w3.css # (c) 2021 w3schools.com
*/

/*** Base ***/

/* Always hide an element when it has the `hidden` HTML attribute. */
.hidden,
[hidden] {
	display: none !important;
}

/* Clearing */
.ux-clearfix {
	clear: both;
}
.ux-clear::before, .ux-clear::after {
	content: "";
	display: table;
	clear: both;
}

/* Align Elements */
.ux-left {
	text-align: left !important;
}
.ux-center {
	text-align: center !important;
}
.ux-right {
	text-align: right !important;
}

/* Apply Border to Elements */
.ux-border {
	border: 1px solid #ECECEC;
}

/* Add this class to an image to make it fit within it's fluid parent wrapper while maintaining aspect ratio. */
.ux-img {
	max-width: 100%;
	height: auto;
	display: block;
}

/*** Grid :: 12 columns / fluid / responsive (extra, based on W3.org Grid, adapted by Unixman) ***/

.ux-grid-row {
	margin-right: 0px;
	margin-left: 0px;
	box-sizing: border-box !important;
	-moz-box-sizing: border-box !important;
	-webkit-box-sizing: border-box !important;
}

.ux-grid-row::before, .ux-grid-row::after {
	content: "";
	display: table;
	clear: both;
}

/* UX Grid Very Small Screen (Width < 480px) */
.ux-grid-col {
	float:left;
	width:100%;
	min-height: 1px;
	padding-right: 15px;
	padding-left: 15px;
	box-sizing: border-box !important;
	-moz-box-sizing: border-box !important;
	-webkit-box-sizing: border-box !important;
}

.ux-grid-col.nofloat {
	float: none !important;
}

/* UX Grid Fixed (on all screens, mostly used for fixed layouts such as tables) */
.ux-grid-col.c-hidden {
	display: none;
}
.ux-grid-col.c1 {
	width:8.33333%;
}
.ux-grid-col.c2 {
	width:16.66666%;
}
.ux-grid-col.c3 {
	width:24.99999%;
}
.ux-grid-col.c4 {
	width:33.33333%;
}
.ux-grid-col.c5 {
	width:41.66666%;
}
.ux-grid-col.c6 {
	width:49.99999%;
}
.ux-grid-col.c7 {
	width:58.33333%;
}
.ux-grid-col.c8 {
	width:66.66666%;
}
.ux-grid-col.c9 {
	width:74.99999%;
}
.ux-grid-col.c10 {
	width:83.33333%;
}
.ux-grid-col.c11 {
	width:91.66666%;
}
.ux-grid-col.c12 {
	width:99.99999%;
}

/* UX Grid Very-Small Screen (Width <= 639px) */
@media (max-width:639px) {
	.ux-grid-col.v-hidden {
		display: none;
	}
	.ux-grid-col.v1 {
		width:8.33333%;
	}
	.ux-grid-col.v2 {
		width:16.66666%;
	}
	.ux-grid-col.v3 {
		width:24.99999%;
	}
	.ux-grid-col.v4 {
		width:33.33333%;
	}
	.ux-grid-col.v5 {
		width:41.66666%;
	}
	.ux-grid-col.v6 {
		width:49.99999%;
	}
	.ux-grid-col.v7 {
		width:58.33333%;
	}
	.ux-grid-col.v8 {
		width:66.66666%;
	}
	.ux-grid-col.v9 {
		width:74.99999%;
	}
	.ux-grid-col.v10 {
		width:83.33333%;
	}
	.ux-grid-col.v11 {
		width:91.66666%;
	}
	.ux-grid-col.v12 {
		width:99.99999%;
	}
}

/* UX Grid Small Screen (Width >= 640px) */
@media (min-width:640px) {
	.ux-grid-col.s-hidden {
		display: none;
	}
	.ux-grid-col.s1 {
		width:8.33333%;
	}
	.ux-grid-col.s2 {
		width:16.66666%;
	}
	.ux-grid-col.s3 {
		width:24.99999%;
	}
	.ux-grid-col.s4 {
		width:33.33333%;
	}
	.ux-grid-col.s5 {
		width:41.66666%;
	}
	.ux-grid-col.s6 {
		width:49.99999%;
	}
	.ux-grid-col.s7 {
		width:58.33333%;
	}
	.ux-grid-col.s8 {
		width:66.66666%;
	}
	.ux-grid-col.s9 {
		width:74.99999%;
	}
	.ux-grid-col.s10 {
		width:83.33333%;
	}
	.ux-grid-col.s11 {
		width:91.66666%;
	}
	.ux-grid-col.s12 {
		width:99.99999%;
	}
}

/* UX Grid Medium Screen (Width >= 992px) */
@media (min-width:992px) {
	.ux-grid-col.m-hidden {
		display: none;
	}
	.ux-grid-col.m1 {
		width:8.33333%;
	}
	.ux-grid-col.m2 {
		width:16.66666%;
	}
	.ux-grid-col.m3 {
		width:24.99999%;
	}
	.ux-grid-col.m4 {
		width:33.33333%;
	}
	.ux-grid-col.m5 {
		width:41.66666%;
	}
	.ux-grid-col.m6 {
		width:49.99999%;
	}
	.ux-grid-col.m7 {
		width:58.33333%;
	}
	.ux-grid-col.m8 {
		width:66.66666%;
	}
	.ux-grid-col.m9 {
		width:74.99999%;
	}
	.ux-grid-col.m10 {
		width:83.33333%;
	}
	.ux-grid-col.m11 {
		width:91.66666%;
	}
	.ux-grid-col.m12 {
		width:99.99999%;
	}
}

/* UX Grid Large Screen (Width >= 1600px) ; previous was 1200px */
@media (min-width:1600px) {
	.ux-grid-col.l-hidden {
		display: none;
	}
	.ux-grid-col.l1 {
		width:8.33333%;
	}
	.ux-grid-col.l2 {
		width:16.66666%;
	}
	.ux-grid-col.l3 {
		width:24.99999%;
	}
	.ux-grid-col.l4 {
		width:33.33333%;
	}
	.ux-grid-col.l5 {
		width:41.66666%;
	}
	.ux-grid-col.l6 {
		width:49.99999%;
	}
	.ux-grid-col.l7 {
		width:58.33333%;
	}
	.ux-grid-col.l8 {
		width:66.66666%;
	}
	.ux-grid-col.l9 {
		width:74.99999%;
	}
	.ux-grid-col.l10 {
		width:83.33333%;
	}
	.ux-grid-col.l11 {
		width:91.66666%;
	}
	.ux-grid-col.l12 {
		width:99.99999%;
	}
}

/*** Links :: ***/

a.ux-link, a.ux-link:link, a.ux-link:visited {
	font-family: inherit !important;
	font-size: 1rem !important;
	font-weight: bold !important;
	border-bottom: none !important;
	text-decoration: underline #DDDDDD !important;
	color: #0164C7 !important;
	cursor: pointer !important;
}
a.ux-link:hover {
	text-decoration: underline #4D5774 !important;
	color: #3B4250 !important;
}

/*** Buttons :: modified ***/

.ux-button {
	/* Structure */
	display: inline-block; /* do not mark as important as it can't hide using jquery hide() */
	overflow: hidden;
	line-height: normal !important;
	white-space: nowrap !important;
	vertical-align: middle !important;
	text-align: center !important;
	font-family: inherit !important;
	font-size: 0.9375rem !important; /* 15px */
	font-weight: bold !important;
	text-decoration: none !important;
	cursor: pointer !important;
	padding: 7px 15px 7px 15px !important;
	margin-bottom: 5px;
	margin-right: 5px;
	color: #317AB9 !important;
	background-color: #FBFBFB !important;
	border: 1px solid #E7E7E7 !important;
	box-shadow: 0 1px 2px rgba(128,128,128,0.2) !important;
	border-radius: 3px !important;
	text-overflow: ellipsis;
	box-sizing: border-box !important;
	-moz-box-sizing: border-box !important;
	-webkit-box-sizing: border-box !important;
	user-select: none !important;
	appearance: none !important;
	-moz-appearance: none !important;
	-webkit-appearance: none !important;
}
.ux-button:hover {
	border: 1px solid #D7D7D7 !important;
	background-color: #F7F7F7 !important;
	color: #5E6885 !important;
}
.ux-button:focus {
	outline: 0 !important;
}

.ux-button[disabled],
.ux-button-disabled,
.ux-button-disabled:hover,
.ux-button-disabled:active,
.ux-button-noaction {
	background-image: none !important;
	opacity: 0.75 !important;
	cursor: not-allowed !important;
/*	box-shadow: none !important; */
}

.ux-button[disabled].ux-button-noaction,
.ux-button-noaction {
	cursor: default !important;
}

.ux-button-primary,
.ux-button-secondary,
.ux-button-info,
.ux-button-regular,
.ux-button-highlight,
.ux-button-special,
.ux-button-details,
.ux-button-dark {
	box-shadow: 0 1px 2px rgba(64,64,64,0.4) !important;
}

.ux-button-alt {
	color: #ED2839 !important;
}
.ux-button-alt:hover {
	color: #555555 !important;
}

.ux-button-primary {
	border: 1px solid #2256B1 !important;
	background-color: #3367C2 !important;
	color: #FFFFFF !important;
}
.ux-button-primary:hover {
	border: 1px solid #1145A0 !important;
	background-color: #2256B1 !important;
	color: #FFFFFF !important;
}

.ux-button-secondary {
	border: 1px solid #667788 !important;
	background-color: #778899 !important;
	color: #FFFFFF !important;
}
.ux-button-secondary:hover {
	border: 1px solid #556677 !important;
	background-color: #667788 !important;
	color: #FFFFFF !important;
}

.ux-button-info {
	border: 1px solid #2A9DF4 !important;
	background-color: #3BAEF5 !important;
	color: #FFFFFF !important;
}
.ux-button-info:hover {
	border: 1px solid #198CE3 !important;
	background-color: #2A9DF4 !important;
	color: #FFFFFF !important;
}

.ux-button-regular {
	border: 1px solid #608200 !important;
	background-color: #719300 !important;
	color: #FFFFFF !important;
}
.ux-button-regular:hover {
	border: 1px solid #507100 !important;
	background-color: #608200 !important;
	color: #FFFFFF !important;
}

.ux-button-highlight {
	border: 1px solid #EE8800 !important;
	background-color: #FF9900 !important;
	color: #FFFFFF !important;
}
.ux-button-highlight:hover {
	border: 1px solid #DB860E !important;
	background-color: #EE8800 !important;
	color: #FFFFFF !important;
}

.ux-button-special {
	border: 1px solid #E32E2E !important;
	background-color: #F43F3F !important;
	color: #FFFFFF !important;
}
.ux-button-special:hover {
	border: 1px solid #D21D1D !important;
	background-color: #E32E2E !important;
	color: #FFFFFF !important;
}

.ux-button-details {
	border: 1px solid #4D5774 !important;
	background-color: #5E6885 !important;
	color: #FFFFFF !important;
}
.ux-button-details:hover {
	border: 1px solid #3C4663 !important;
	background-color: #4D5774 !important;
	color: #FFFFFF !important;
}

.ux-button-dark {
	border: 1px solid #444444 !important;
	background-color: #555555 !important;
	color: #FEFEFE !important;
}
.ux-button-dark:hover {
	border: 1px solid #333333 !important;
	background-color: #444444 !important;
	color: #FFFFFF !important;
}

.ux-button-spacing {
	margin: 0;
	margin-right: 20px;
	margin-bottom: 10px;
}

/* Firefox: Get rid of the inner focus border */
.ux-button::-moz-focus-inner {
	padding: 0 !important;
	border: 0 !important;
}

.ux-button-super {
	padding: 7px 12px 7px 12px !important;
	margin-bottom: 10px !important; /* sync with .ux-field-xl */
}
.ux-button-super, .ux-button-super * {
	font-size: 1.25rem !important; /* 20px */
	line-height: 1.25rem !important; /* 20px */
}

.ux-button-xsmall {
	padding: 5px 8px 5px 8px !important;
}
.ux-button-xsmall, .ux-button-xsmall * {
	font-size: 0.75rem !important; /* 11px */
	line-height: 0.75rem !important; /* 11px */
}

.ux-button-small {
	padding: 7px 12px 7px 12px !important;
}
.ux-button-small, .ux-button-small * {
	font-size: 0.875rem !important; /* 14px */
	line-height: 0.875rem !important; /* 14px */
}

.ux-button-large {
	padding: 11px 17px 11px 17px !important;
}
.ux-button-large, .ux-button-large * {
	font-size: 1.25rem !important; /* 20px */
	line-height: 1.25rem !important; /* 20px */
}

.ux-button-xlarge {
	padding: 13px 21px 13px 21px !important;
}
.ux-button-xlarge, .ux-button-xlarge * {
	font-size: 1.5rem !important; /* 24px */
	line-height: 1.5rem !important; /* 24px */
}

.ux-button-responsive {
}

/*** Button Groups ***/

.ux-button-group {
	display: inline-block; /* do not mark as important as it can't hide using jquery hide() */
	margin-bottom: 5px;
	margin-right: 5px;
}

.ux-button-group .ux-button {
	margin: 0px;
	margin-right: -5px;
	border-radius: 0 !important;
}
.ux-button-group .ux-button:first-child {
	border-top-left-radius: 3px !important;
	border-bottom-left-radius: 3px !important;
}
.ux-button-group .ux-button:last-child {
	border-top-right-radius: 3px !important;
	border-bottom-right-radius: 3px !important;
	margin-right: 5px;
}

/*** Tables ***/

.ux-table {
	/* Remove spacing between table cells (from Normalize.css) */
	border-collapse: collapse;
	border-spacing: 0;
	empty-cells: show;
	border: 1px solid #ECECEC;
}

.ux-table caption {
	color: #000;
	font-size: 0.85rem;
	line-height: 1;
	padding: 1rem 0;
	text-align: center;
}

.ux-table td,
.ux-table th {
	border-left: 1px solid #ECECEC;/*  inner column border */
	border-width: 0 0 0 1px;
	font-size: inherit;
	margin: 0;
	overflow: visible; /*to make ths where the title is really long work*/
	padding: 0.5rem 1rem; /* cell padding */
}

/* Consider removing this next declaration block, as it causes problems when
there's a rowspan on the first cell. Case added to the tests. issue#432 */
.ux-table td:first-child,
.ux-table th:first-child {
	border-left-width: 0;
}

.ux-table thead {
	background: #EEEEEE;
	color: #000;
	text-align: left;
	vertical-align: bottom;
}

/*
striping:
   even - #FFFFFF (white)
   odd  - #F2F2F2 (light gray)
*/
.ux-table td {
	background: transparent;
}

.ux-table .ux-tr-even {
	background: #FFFFFF;
}
.ux-table .ux-tr-even:hover {
	background: #FFFFDD;
}
.ux-table .ux-tr-odd {
	background: #F2F2F2;
}
.ux-table .ux-tr-odd:hover {
	background: #FFFFDD;
}

/* nth-child selector for modern browsers */
.ux-table-striped tbody tr:nth-child(2n) {
	background: #FFFFFF;
}
.ux-table-striped tbody tr:nth-child(2n-1) {
	background: #F2F2F2;
}
.ux-table-striped tbody tr:hover {
	background: #FFFFDD;
}

/* BORDERED TABLES */
.ux-table-bordered td {
	border-bottom: 1px solid #ECECEC;
}
.ux-table-bordered tbody > tr:last-child > td {
	border-bottom-width: 0;
}


/* HORIZONTAL BORDERED TABLES */

.ux-table-horizontal td,
.ux-table-horizontal th {
	border-width: 0 0 1px 0;
	border-bottom: 1px solid #ECECEC;
}
.ux-table-horizontal tbody > tr:last-child > td {
	border-bottom-width: 0;
}

/* FLUID TABLE BY DIVS (by Unixman) */

.ux-fluid-table {
	display: table;
	border-collapse: collapse;
}
.ux-fluid-table .ux-fluid-tbl-row {
	display: table-row;
}
.ux-fluid-table .ux-fluid-tbl-cell {
	display: table-cell;
	text-align: left;
	vertical-align: top;
}

/* Fluid TABLE REFLOW (by Unixman) */

.ux-reflow-table {
}

.ux-reflow-table td,
.ux-reflow-table th,
.ux-reflow-table tbody th,
.ux-reflow-table tbody td,
.ux-reflow-table thead th,
.ux-reflow-table thead td,
.ux-reflow-table tfoot th,
.ux-reflow-table tfoot td {
}

.ux-reflow-table tr,
.ux-reflow-table tbody tr,
.ux-reflow-table thead tr,
.ux-reflow-table tfoot tr {
}


/*** Forms ***/

/*
Box-model set to false because we're setting a height on select elements, which
also have border and padding. This is done because some browsers don't render
the padding. We explicitly set the box-model for select elements to border-box,
so we can ignore the csslint warning.
*/

.ux-inline {
	display: inline;
}

.ux-inline-block {
	display: inline-block;
}

.ux-form input[type="text"],
.ux-form input[type="password"],
.ux-form input[type="email"],
.ux-form input[type="url"],
.ux-form input[type="date"],
.ux-form input[type="month"],
.ux-form input[type="time"],
.ux-form input[type="datetime"],
.ux-form input[type="datetime-local"],
.ux-form input[type="week"],
.ux-form input[type="number"],
.ux-form input[type="search"],
.ux-form input[type="tel"],
.ux-form input[type="color"],
.ux-form textarea,
.ux-form select,
.ux-field {
	background-color: #FFFFFF;
	color: #222222;
	font-weight: normal;
	font-size: 1rem;
	padding: 3px;
/*	padding: 0.5rem 0.6rem; */
	display: inline-block;
	border: 1px solid #ccc;
	margin-bottom: 5px;
	margin-right: 5px;
	border-radius: 3px;
	vertical-align: middle;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
}

.ux-field-xl {
	font-size: 1.25rem !important;
	margin-bottom: 10px;
	margin-right: 10px;
}

.ux-form select option,
.ux-select option {
	font-weight: normal !important;
	font-size: 1rem;
	padding: 1px !important;
}

/*
Need to separate out the :not() selector from the rest of the CSS 2.1 selectors
since IE8 won't execute CSS that contains a CSS3 selector.
*/
.ux-form input:not([type]) {
	padding: 0.5rem 0.6rem;
	display: inline-block;
	border: 1px solid #ccc;
	box-shadow: inset 0 1px 3px #ddd;
	border-radius: 3px;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
}


/* Chrome (as of v.32/34 on OS X) needs additional room for color to display. */
/* May be able to remove this tweak as color inputs become more standardized across browsers. */
.ux-form input[type="color"] {
	padding: 0.2rem 0.5rem;
}


.ux-form input[type="text"]:focus,
.ux-form input[type="password"]:focus,
.ux-form input[type="email"]:focus,
.ux-form input[type="url"]:focus,
.ux-form input[type="date"]:focus,
.ux-form input[type="month"]:focus,
.ux-form input[type="time"]:focus,
.ux-form input[type="datetime"]:focus,
.ux-form input[type="datetime-local"]:focus,
.ux-form input[type="week"]:focus,
.ux-form input[type="number"]:focus,
.ux-form input[type="search"]:focus,
.ux-form input[type="tel"]:focus,
.ux-form input[type="color"]:focus,
.ux-form textarea:focus,
.ux-form select:focus,
.ux-select:focus,
.ux-field:focus {
	outline: 0;
	border-color: #129FEA;
}

/*
Need to separate out the :not() selector from the rest of the CSS 2.1 selectors
since IE8 won't execute CSS that contains a CSS3 selector.
*/
.ux-form input:not([type]):focus {
	outline: 0;
	border-color: #129FEA;
}

.ux-form input[type="file"]:focus,
.ux-form input[type="radio"]:focus,
.ux-form input[type="checkbox"]:focus {
	outline: thin solid #129FEA;
	/* @alternate */ outline: 1px auto #129FEA; /* mark as alternate for google closures stylesheet */
}
.ux-form .ux-checkbox,
.ux-form .ux-radio {
	margin: 0.5rem 0;
	display: block;
}

.ux-form input[type="text"][disabled],
.ux-form input[type="password"][disabled],
.ux-form input[type="email"][disabled],
.ux-form input[type="url"][disabled],
.ux-form input[type="date"][disabled],
.ux-form input[type="month"][disabled],
.ux-form input[type="time"][disabled],
.ux-form input[type="datetime"][disabled],
.ux-form input[type="datetime-local"][disabled],
.ux-form input[type="week"][disabled],
.ux-form input[type="number"][disabled],
.ux-form input[type="search"][disabled],
.ux-form input[type="tel"][disabled],
.ux-form input[type="color"][disabled],
.ux-form textarea[disabled],
.ux-form select[disabled],
.ux-select[disabled],
.ux-field[disabled] {
	cursor: not-allowed;
	background-color: #ECECEC;
	color: #999999;
}

/*
Need to separate out the :not() selector from the rest of the CSS 2.1 selectors
since IE8 won't execute CSS that contains a CSS3 selector.
*/
.ux-form input:not([type])[disabled] {
	cursor: not-allowed;
	background-color: #ECECEC;
	color: #999999;
}
.ux-form input[readonly],
.ux-form select[readonly],
.ux-form textarea[readonly],
.ux-select[readonly],
.ux-field[readonly] {
	cursor: crosshair;
	background-color: #FAFAFA; /* menu hover bg color */
	color: #777; /* menu text color */
	border-color: #ccc;
}

.ux-form input:focus:invalid,
.ux-form textarea:focus:invalid,
.ux-form select:focus:invalid {
	color: #b94a48;
	border-color: #E9322D;
}
.ux-form input[type="file"]:focus:invalid:focus,
.ux-form input[type="radio"]:focus:invalid:focus,
.ux-form input[type="checkbox"]:focus:invalid:focus {
	outline-color: #E9322D;
}
.ux-form select { /* normalizes the height; padding is not sufficient. */
	height: 2rem;
	border: 1px solid #CCCCCC;
	background-color: #FFFFFF;
}
.ux-form select[multiple] {
	height: auto;
}
.ux-form label {
	margin: 0.5rem 0 0.2rem;
}
.ux-form fieldset {
	margin: 0;
	padding: 0.35rem 0 0.75rem;
	border: 0;
}
.ux-form legend {
	display: block;
	width: 100%;
	padding: 0.3rem 0;
	margin-bottom: 0.3rem;
	color: #333;
	border-bottom: 1px solid #e5e5e5;
}

.ux-form-stacked input[type="text"],
.ux-form-stacked input[type="password"],
.ux-form-stacked input[type="email"],
.ux-form-stacked input[type="url"],
.ux-form-stacked input[type="date"],
.ux-form-stacked input[type="month"],
.ux-form-stacked input[type="time"],
.ux-form-stacked input[type="datetime"],
.ux-form-stacked input[type="datetime-local"],
.ux-form-stacked input[type="week"],
.ux-form-stacked input[type="number"],
.ux-form-stacked input[type="search"],
.ux-form-stacked input[type="tel"],
.ux-form-stacked input[type="color"],
.ux-form-stacked input[type="file"],
.ux-form-stacked select,
.ux-form-stacked label,
.ux-form-stacked textarea {
	display: block;
	margin: 0.25rem 0;
}

/*
Need to separate out the :not() selector from the rest of the CSS 2.1 selectors
since IE8 won't execute CSS that contains a CSS3 selector.
*/
.ux-form-stacked input:not([type]) {
	display: block;
	margin: 0.25rem 0;
}
.ux-form-aligned input,
.ux-form-aligned textarea,
.ux-form-aligned select,
/* NOTE: ux-help-inline is deprecated. Use .ux-form-message-inline instead. */
.ux-form-aligned .ux-help-inline,
.ux-form-message-inline {
	display: inline-block;
	*display: inline;
	vertical-align: middle;
}
.ux-form-aligned textarea,
.ux-form-aligned label {
	vertical-align: top !important;
}

/* Aligned Forms */
.ux-form-aligned .ux-control-group {
	margin-bottom: 0.5rem;
}
.ux-form-aligned .ux-control-group label {
	text-align: right;
	display: inline-block;
	vertical-align: middle;
	width: 12rem;
	margin: 0 1rem 0 0;
}
.ux-form-aligned .ux-controls {
	margin: 1.5rem 0 0 11rem;
}

/* Rounded Inputs */
.ux-form input.ux-input-rounded,
.ux-form .ux-input-rounded {
	border-radius: 9px;
	padding: 0.5rem 1rem;
}

/* Grouped Inputs */
.ux-form .ux-group fieldset {
	margin-bottom: 10px;
}
.ux-form .ux-group input,
.ux-form .ux-group textarea {
	display: block;
	padding: 7px;
/*	padding: 10px; */
	margin: 0 0 -1px;
	border-radius: 0;
	position: relative;
	top: -1px;
}
.ux-form .ux-group input:focus,
.ux-form .ux-group textarea:focus {
	z-index: 3;
}
.ux-form .ux-group input:first-child,
.ux-form .ux-group textarea:first-child {
	top: 1px;
	border-radius: 3px 3px 0 0;
	margin: 0;
}
.ux-form .ux-group input:first-child:last-child,
.ux-form .ux-group textarea:first-child:last-child {
	top: 1px;
	border-radius: 3px;
	margin: 0;
}
.ux-form .ux-group input:last-child,
.ux-form .ux-group textarea:last-child {
	top: -2px;
	border-radius: 0 0 3px 3px;
	margin: 0;
}
.ux-form .ux-group button {
	margin: 0.35rem 0;
}

.ux-form .ux-input-1-1 {
	width: 600px;
}
.ux-form .ux-input-2-3 {
	width: 400px;
}
.ux-form .ux-input-1-2 {
	width: 300px;
}
.ux-form .ux-input-1-3 {
	width: 200px;
}
.ux-form .ux-input-1-4 {
	width: 150px;
}

.ux-form .ux-input-def {
	padding: 1px 3px 1px 3px !important;
	height: 2rem !important;
	font-family: inherit !important;
	font-size: 1rem !important;
	margin-bottom: 5px;
}

/* Inline help for forms */
/* NOTE: ux-help-inline is deprecated. Use .ux-form-message-inline instead. */
.ux-form .ux-help-inline,
.ux-form-message-inline {
	display: inline-block;
	padding-left: 0.3rem;
	color: #428BCA;
	vertical-align: middle;
	font-size: 0.875rem;
}

/* Block help for forms */
.ux-form-message {
	display: block;
	color: #666;
	font-size: 0.875rem;
}

.ux-form ::-webkit-input-placeholder {
	color: #BBBBBB;
}
.ux-form ::-moz-placeholder {
	color: #999999;
}

/*** Simple Navs (by Unixman) ***/

nav.ux-navy {
	z-index: 5555;
}

nav.ux-navy > input[type="checkbox"] {
	display: none;
}

nav.ux-navy > ul {
	list-style-type: none !important;
	margin: 0 !important;
	padding: 0 !important;
	padding-left: 0.625rem !important;
	padding-right: 0.625rem !important;
	overflow: hidden !important;
}
nav.ux-navy > ul * {
	font-size: 1.25rem;
}
nav.ux-navy > ul li {
	float: left;
	padding: 0 !important;
	margin: 0 !important;
}
nav.ux-navy > ul li.a-right {
	float: right !important;
}
nav.ux-navy.responsive > ul li.w-space div {
	display: inline-block;
	width: 20px;
}
nav.ux-navy > ul li a,
nav.ux-navy > ul li span {
	display: inline-block !important;
	padding: 0.625rem 0.875rem;
	text-align: center;
	text-decoration: none;
}
nav.ux-navy > ul li span.img {
	height: 36px !important;
	padding: 0 !important;
	padding-right: 0.625rem !important;
}
nav.ux-navy > ul li span.img img {
	margin-top: 2px !important;
	display: block;
	width: 44px !important;
	height: 44px !important;
}
nav.ux-navy > ul li dfn {
	display: none !important;
	font-style: normal !important;
}
nav.ux-navy > ul li var {
	font-style: normal !important;
}
nav.ux-navy > ul li .icon {
	font-size: 1.25rem !important;
	padding: 0 !important;
	margin: 0 !important;
	margin-left: 0.625rem !important;
	margin-right: 0.625rem !important;
}

nav.ux-navy > ul {
	background: #3B4250;
}
nav.ux-navy > ul li a,
nav.ux-navy > ul li span {
	color: #FFFFFF;
}
nav.ux-navy > ul li a:hover:not(.active) {
	background: #192030;
}
nav.ux-navy > ul li a.active,
nav.ux-navy > ul li span.active {
	background: #4D5774;
}
nav.ux-navy > ul li span.toggle {
	background: #2A3140;
}

nav.ux-navy.green-navy > ul {
	background: #6A9D4E;
}
nav.ux-navy.green-navy > ul li a,
nav.ux-navy.green-navy > ul li span {
	color: #FFFFFF;
}
nav.ux-navy.green-navy > ul li a:hover:not(.active) {
	background: #487B2C;
}
nav.ux-navy.green-navy > ul li a.active {
	color: #FFFFFF;
	background: #7BAE5F;
}
nav.ux-navy.green-navy > ul li span.toggle {
	color: #FFFFFF;
	background: #598C3D;
}

nav.ux-navy.blue-navy > ul {
	background: #48578E;
}
nav.ux-navy.blue-navy > ul li a,
nav.ux-navy.blue-navy > ul li span {
	color: #FFFFFF;
}
nav.ux-navy.blue-navy > ul li a:hover:not(.active) {
	background: #212C58;
}
nav.ux-navy.blue-navy > ul li a.active {
	color: #FFFFFF;
	background: #6171A9;
}
nav.ux-navy.blue-navy > ul li span.toggle {
	color: #FFFFFF;
	background: #334173;
}

nav.ux-navy.alt-navy > ul {
	background: #EEEEEE;
}
nav.ux-navy.alt-navy > ul li a,
nav.ux-navy.alt-navy > ul li span {
	color: #0164C7;
}
nav.ux-navy.alt-navy > ul li a:hover:not(.active) {
	background: #FEFEFE;
}
nav.ux-navy.alt-navy > ul li a.active {
	color: #5B646C;
	background: #F8F8F8;
}
nav.ux-navy.alt-navy > ul li span.toggle {
	color: #6C757D;
	background: #DCDCDC;
}

/*** BreadCrumbs (by Unixman) ***/

/* Style the list */
ul.ux-breadcrumb {
	padding: 10px 16px !important;
	list-style: none !important;
	background: #EEEEEE !important;
}

/* Display list items side by side */
ul.ux-breadcrumb li {
	display: inline !important;
	font-size: 1rem !important;
	color: #6C757D !important;
	font-weight: bold !important;
}

/* Add a slash symbol (/) before/behind each list item */
ul.ux-breadcrumb li+li::before {
	padding: 8px !important;
	color: #6C757D !important;
	font-weight: bold !important;
	content: "/\00a0" !important;
}

/* Add a color to all links inside the list */
ul.ux-breadcrumb li a {
	color: #0275D8 !important;
	text-decoration: none !important;
	font-weight: bold !important;
}

/* Add a color on mouse-over */
ul.ux-breadcrumb li a:hover {
	color: #0164C7 !important;
	text-decoration: underline !important;
	font-weight: bold !important;
}

/*** DropDown (by Unixman) ***/

div.ux-dropdown {
	cursor: pointer;
	display: inline-block; /* do not mark as important as it can't hide using jquery hide() */
	margin-bottom: 5px;
	margin-right: 5px;
}

div.ux-dropdown span.ux-droparea {
	font-weight: bold;
}

div.ux-dropdown span.ux-dropbutton::before,
div.ux-dropdown span.ux-droparea::before {
	content: '▾ ';
	right: 0px;
	top: 0px;
	width: 1.5rem;
	height: 50%;
	font-size: 1rem !important;
}

div.ux-dropdown span.ux-dropbutton {
	display: inline-block; /* do not mark as important as it can't hide using jquery hide() */
	padding: 7px 15px 7px 15px !important;
	line-height: normal !important;
	white-space: nowrap !important;
	vertical-align: middle !important;
	text-align: center !important;
	font-family: inherit !important;
	font-size: 1rem !important;
	font-weight: bold !important;
	text-decoration: none !important;
	border-radius: 3px !important;
	border: 1px solid #90979d !important;
	background-color: #6C757D !important;
	color: #FFFFFF !important;
	cursor: pointer !important;
	overflow: hidden;
	text-overflow: ellipsis;
	margin-bottom: 0px;
	margin-right: 0px;
	box-sizing: border-box !important;
	-moz-box-sizing: border-box !important;
	-webkit-box-sizing: border-box !important;
	appearance: none !important;
	-moz-appearance: none !important;
	-webkit-appearance: none !important;
	user-select: none !important;
}

div.ux-dropdown ul {
	z-index: 5555;
	visibility: hidden;
	opacity: 0;
	background: #FFFFFF;
	margin: 0;
	padding: 5px 10px 10px 5px;
	display: block;
	position: absolute;
	min-width: 1px;
	max-width: 1px;
	height: 1px;
	transform: translateY(-25px);
}

div.ux-dropdown:hover ul {
	visibility: visible;
	opacity: 1;
	border: 1px solid #dde1e9;
	cursor: default;
	min-width: 125px;
	max-width: 300px;
	height: auto;
	border-radius: 1px;
	transform: translateY(0);
}

div.ux-dropdown ul li {
	display: block;
	float: none;
	width: 100%;
	text-align: left;
	margin: 0;
	padding: 8px 0 0 16px;
	line-height: 1.5;
	color: #8B939C;
	font-weight: bold;
}

div.ux-dropdown ul li a:not(.ux-button) {
	font-weight: bold;
	color: #E4862A;
	padding: 0 10px;
	line-height: 1.5;
	text-decoration: none !important;
	border-bottom: 0px !important;
}
div.ux-dropdown ul li a:not(.ux-button):hover {
	text-decoration: underline !important;
	border-bottom: 0px !important;
}

/*** Responsive NavBar Menu (by Unixman) ***/

nav.ux-navbar label.toggle,
nav.ux-navbar input[id^=drop] {
	display: none;
}
nav.ux-navbar {
	margin: 0;
	padding: 0;
	background: #48578E;
}
nav.ux-navbar span.detail-s {
	display: none;
}
nav.ux-navbar span.detail-l {
	display: inline;
}
nav.ux-navbar div#logo {
	display: block;
	padding: 0 25px;
	float: left;
	font-size: 20px;
	line-height: 50px;
	color: #FFFFFF;
	cursor: default;
}
nav.ux-navbar label#alt-logo {
	font-weight: bold;
}
nav.ux-navbar img#img-logo {
	display: block;
	float: left;
	margin-top: 2px;
	width: 48px;
	height: 48px;
}
nav::after {
	content: "";
	display: table;
	clear: both;
}
nav.ux-navbar ul {
	float: right;
	padding: 0;
	margin: 0;
	list-style: none;
	position: relative;
}
nav.ux-navbar li.parent {
	display: none;
}
nav.ux-navbar li {
	padding: 0;
}
nav.ux-navbar ul li {
	margin: 0px;
	display: inline-block;
	float: left;
	background: #48578E;
}
nav.ux-navbar a, nav.ux-navbar label.notoggle {
	display: block;
	padding: 0 16px;
	color: #FFFFFF;
	font-size: 20px;
	line-height: 50px;
	text-decoration: none;
}
nav.ux-navbar ul li ul li:hover {
	background: #334173;
}
nav.ux-navbar a:hover {
	color: #FFFFFF;
	background: #212C58;
}
nav.ux-navbar ul ul {
	display: none;
	position: absolute;
	top: 50px;
	z-index: 5555;
}
nav.ux-navbar ul li:hover > ul {
	display: inherit;
}
nav.ux-navbar ul ul li {
	min-width: 170px;
	float: none;
	display: list-item;
	position: relative;
}
nav.ux-navbar ul ul ul {
	min-width: 170px;
	width: 100%;
	position: absolute;
	top: 10px;
	left: 170px;
}
nav.ux-navbar ul ul ul li {
	position: relative;
}
nav.ux-navbar li > a::after {
	content: ' ▾';
}
nav.ux-navbar li > a:only-child::after {
	content: '';
}

nav.ux-navbar.navbar-green {
	background: #6A9D4E;
}
nav.ux-navbar.navbar-green ul li {
	background: #6A9D4E;
}
nav.ux-navbar.navbar-green ul li ul li:hover {
	background: #598C3D;
}
nav.ux-navbar.navbar-green a:hover {
	background: #487B2C;
}

nav.ux-navbar.navbar-black {
	background: #3B4250;
}
nav.ux-navbar.navbar-black ul li {
	background: #3B4250;
}
nav.ux-navbar.navbar-black ul li ul li:hover {
	background: #2A3140;
}
nav.ux-navbar.navbar-black a:hover {
	background: #192030;
}

/*** Menu Bars (by Unixman) ***/

.ux-menubar-dropbutton::after {
	content: ' ▾';
	right: 0;
	top: 0;
	width: 1.5rem;
	height: 50%;
	font-size: 1rem !important;
}
.ux-menubar-button {
	border: none;
	display: inline-block;
	outline: 0;
	padding: 8px 16px;
	vertical-align: middle;
	overflow: hidden;
	text-decoration: none;
	color: inherit;
	background: inherit;
	text-align: center;
	cursor: pointer;
	white-space: nowrap;
	font: inherit;
	text-transform: none;
	margin: 0;
	border-style: none;
}
.ux-menubar-button {
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}
.ux-menubar-button:disabled {
	cursor: not-allowed;
	opacity: 0.3;
}
.ux-menubar-button:hover {
	opacity: 0.7 !important;
	filter: contrast(125%) !important;
}

.ux-menubar-dropdown-click,
.ux-menubar-dropdown-hover {
	position: relative;
	display: inline-block;
	cursor: pointer;
}
.ux-menubar-dropdown-hover:hover .ux-menubar-dropdown-content {
	display: block;
	z-index: 5555;
}
.ux-menubar-dropdown-hover:first-child,
.ux-menubar-dropdown-click:hover,
.ux-menubar-dropdown-click:hover * {
	background: #FFFFFF;
	color: #000000;
}
.ux-menubar-dropdown-hover:hover > .ux-menubar-button:first-child,
.ux-menubar-dropdown-click:hover > .ux-menubar-button:first-child {
	background: #FFFFFF;
	color: #000000;
}
.ux-menubar-dropdown-content {
	cursor: auto;
	display: none;
	position: absolute;
/*	min-width: 250px; */
	margin: 0;
	padding: 0;
	border: 0;
	overflow: hidden;
}

.ux-menubar-bar-block .ux-menubar-dropdown-hover,
.ux-menubar-bar-block .ux-menubar-dropdown-click {
	width: 100%;
}
.ux-menubar-bar-block .ux-menubar-dropdown-hover .ux-menubar-dropdown-content,
.ux-menubar-bar-block .ux-menubar-dropdown-click .ux-menubar-dropdown-content {
	min-width: 100%;
}
.ux-menubar-bar-block .ux-menubar-dropdown-hover .ux-menubar-button,
.ux-menubar-bar-block .ux-menubar-dropdown-click .ux-menubar-button {
	width: 100%;
	text-align: left;
	padding: 8px 16px;
}

.ux-menubar-bar-ctrl::before {
	content: '\2630';
	right: 0px;
	top: 0px;
	width: 1.5rem;
	height: 50%;
	font-size: 1rem !important;
}

.ux-menubar-bar {
	width: 100%;
	overflow: hidden;
}

.ux-menubar-bar * {
	font-size: 1rem !important;
}

.ux-menubar-center .ux-menubar-bar {
	display: inline-block;
	width: auto;
}
.ux-menubar-bar .ux-menubar-bar-item {
	padding: 8px 16px;
	float: left;
	width: auto;
	border: none;
	outline: none;
	display: block;
}
.ux-menubar-bar .ux-menubar-dropdown-hover,
.ux-menubar-bar .ux-menubar-dropdown-click {
	position: static;
	float: left;
}
.ux-menubar-bar .ux-menubar-button {
	white-space: normal;
}
.ux-menubar-bar-block .ux-menubar-bar-item {
	width: 100%;
	display: block;
	padding: 8px 16px;
	text-align: left;
	border: none;
	outline: none;
	white-space: normal;
	float: none;
}
.ux-menubar-bar-block .ux-menubar-center .ux-menubar-bar-item {
	text-align: center;
}
.ux-menubar-block {
	display: block;
	width: 100%;
}

.ux-menubar-color-navyblue,
.ux-menubar-color-navyblue * {
	color: #FFFFFF !important;
	background: #3B4250 !important;
}
.ux-menubar-color-blue,
.ux-menubar-color-blue * {
	color: #FFFFFF !important;
	background: #3F51B5 !important;
}
.ux-menubar-color-darkblue,
.ux-menubar-color-darkblue * {
	color: #FFFFFF !important;
	background: #3B5998 !important;
}
.ux-menubar-color-lightblue,
.ux-menubar-color-lightblue * {
	color: #FFFFFF !important;
	background: #1DA1F2 !important;
}
.ux-menubar-color-yellow,
.ux-menubar-color-yellow * {
	color: #000000 !important;
	background: #FFEB3B !important;
}
.ux-menubar-color-amber,
.ux-menubar-color-amber * {
	color: #000000 !important;
	background: #FFC107 !important;
}
.ux-menubar-color-khaki,
.ux-menubar-color-khaki * {
	color: #000000 !important;
	background: #f0e68c !important;
}
.ux-menubar-color-green,
.ux-menubar-color-green * {
	color: #FFFFFF !important;
	background: #4CAF50 !important;
}
.ux-menubar-color-darkgreen,
.ux-menubar-color-darkgreen * {
	color: #FFFFFF !important;
	background: #009688 !important;
}
.ux-menubar-color-lightgreen,
.ux-menubar-color-lightgreen * {
	color: #FFFFFF !important;
	background: #719300 !important;
}
.ux-menubar-color-lime,
.ux-menubar-color-lime * {
	color: #000000 !important;
	background: #cddc39 !important;
}
.ux-menubar-color-orange,
.ux-menubar-color-orange * {
	color: #FFFFFF !important;
	background: #FF8800 !important;
}
.ux-menubar-color-pink,
.ux-menubar-color-pink * {
	color: #FFFFFF !important;
	background: #E91E63 !important;
}
.ux-menubar-color-red,
.ux-menubar-color-red * {
	color: #FFFFFF !important;
	background: #f44336 !important;
}
.ux-menubar-color-violet,
.ux-menubar-color-violet * {
	color: #FFFFFF !important;
	background: #673ab7 !important;
}
.ux-menubar-color-brown,
.ux-menubar-color-brown * {
	color: #FFFFFF !important;
	background: #795548 !important;
}
.ux-menubar-color-grey,
.ux-menubar-color-grey * {
	color: #000000 !important;
	background: #DDDDDD !important;
}
.ux-menubar-color-darkgrey,
.ux-menubar-color-darkgrey * {
	color: #FFFFFF !important;
	background: #777777 !important;
}
.ux-menubar-color-lightgrey,
.ux-menubar-color-lightgrey * {
	color: #000000 !important;
	background: #EDEDED !important;
}
.ux-menubar-color-bluegrey,
.ux-menubar-color-bluegrey * {
	color: #FFFFFF !important;
	background: #778899 !important;
}
.ux-menubar-color-purplegrey,
.ux-menubar-color-purplegrey * {
	color: #FFFFFF !important;
	background: #666699 !important;
}
.ux-menubar-color-black,
.ux-menubar-color-black * {
	color: #FFFFFF !important;
	background: #333333 !important;
}
.ux-menubar-color-white,
.ux-menubar-color-white * {
	color: #111111 !important;
	background: #FAFAFA !important;
}

/*** Menus ***/

/** Menus, Core **/

.ux-menu {
	box-sizing: border-box;
	-moz-box-sizing: border-box !important;
	-webkit-box-sizing: border-box !important;
}

.ux-menu-fixed {
	position: fixed;
	left: 0;
	top: 0;
	z-index: 3;
}

.ux-menu-list,
.ux-menu-item {
	position: relative;
}

.ux-menu-list {
	list-style: none;
	margin: 0;
	padding: 0;
}

.ux-menu-item {
	padding: 0;
	margin: 0;
	height: 100%;
	list-style: none;
}

.ux-menu-link,
.ux-menu-heading {
	display: block;
	text-decoration: none;
	white-space: nowrap;
}

.ux-menu-link:hover {
	opacity: 0.7 !important;
	filter: contrast(125%) !important;
}

/** Menus, Horizontal **/

.ux-menu-horizontal {
	width: 100%;
	white-space: nowrap;
}

.ux-menu-horizontal .ux-menu-list {
	display: inline-block;
}

/* Initial menus should be inline-block so that they are horizontal */
.ux-menu-horizontal .ux-menu-item,
.ux-menu-horizontal .ux-menu-heading,
.ux-menu-horizontal .ux-menu-separator {
	display: inline-block;
	*display: inline;
	vertical-align: middle;
}

/** Menus, Styling **/

/* misc default styling */

.ux-menu-separator {
	background: #CCCCCC;
	height: 1px;
	margin: 0.3rem 0;
}

.ux-menu-horizontal .ux-menu-separator {
	width: 1px;
	height: 1.3rem;
	margin: 0 0.3rem;
}

.ux-menu-heading {
	cursor: default;
	font-weight: bold;
	text-transform: uppercase;
	color: #565D64;
}

.ux-menu-link {
	color: #777777;
}

.ux-menu-children {
	background: #FFFFFF;
}

.ux-menu-link,
.ux-menu-disabled,
.ux-menu-heading {
	padding: 0.5rem 1rem;
}

.ux-menu-disabled {
	opacity: 0.5;
}

.ux-menu-disabled .ux-menu-link:hover {
	background: transparent;
}

.ux-menu-active > .ux-menu-link,
.ux-menu-link:hover,
.ux-menu-link:focus {
	background: #EEEEEE;
}

.ux-menu-selected .ux-menu-link,
.ux-menu-selected .ux-menu-link:visited {
	color: #000000;
}

/*** Tabs (by Unixman) ***/

.ux-tab-area {
	overflow-x: hidden; /* easily hide the radio inputs */
	margin-bottom: 32px;
	padding-left: 5px;
	padding-right: 5px;
	padding-bottom: 16px;
}
.ux-tab-area [type="radio"] {
	display: none; /* hiding the inputs */
}

.ux-tabs {
	display: flex;
	list-style: none;
	padding: 0;
	margin: 0;
	align-items: stretch;
}

.ux-tab > label {
	display: block;
	margin: 0;
	margin-bottom: -1px;
	margin-left: -1px;
	padding: 12px 15px;
	border: 1px solid #E2E2E2;
	border-bottom: 1px solid #FFFFFF;
	background: #F0F0F0;
	color: #666666;
	font-size: 12px;
	font-weight: bold;
	cursor: pointer;
	transition: all 0.3s;
}
.ux-tab.dark > label {
	border: 1px solid #555555;
	background: #666666;
	color: #EEEEEE;
}
.ux-tab:hover label {
	background: #FCFCFC;
	border-top-color: #222222;
	color: #555555;
}
.ux-tab.dark:hover label {
	background: #555555;
	border-top-color: #333333;
	color: #FCFCFC;
}

.ux-tab-content {
	display: none;
	color: #555555;
	border: 1px solid #EEEEEE;
	padding: 10px;
	margin-left: -1px;
}
.ux-tab-content.dark {
	border: none;
	background: #444444;
	color: #FFFFFF;
}

/* as it cannot replace the numbers with variables or calls to element properties, the number of this selector parts is the tab count limit */
.ux-tab-area [type="radio"]:nth-of-type(1):checked ~ .ux-tabs .ux-tab:nth-of-type(1) label,
.ux-tab-area [type="radio"]:nth-of-type(2):checked ~ .ux-tabs .ux-tab:nth-of-type(2) label,
.ux-tab-area [type="radio"]:nth-of-type(3):checked ~ .ux-tabs .ux-tab:nth-of-type(3) label,
.ux-tab-area [type="radio"]:nth-of-type(4):checked ~ .ux-tabs .ux-tab:nth-of-type(4) label,
.ux-tab-area [type="radio"]:nth-of-type(5):checked ~ .ux-tabs .ux-tab:nth-of-type(5) label,
.ux-tab-area [type="radio"]:nth-of-type(6):checked ~ .ux-tabs .ux-tab:nth-of-type(6) label,
.ux-tab-area [type="radio"]:nth-of-type(7):checked ~ .ux-tabs .ux-tab:nth-of-type(7) label,
.ux-tab-area [type="radio"]:nth-of-type(8):checked ~ .ux-tabs .ux-tab:nth-of-type(8) label {
	border-top-color: #555555;
	background: #FFFFFF;
	color: #555555;
}
.ux-tab-area [type="radio"]:nth-of-type(1):checked ~ .ux-tab-content:nth-of-type(1),
.ux-tab-area [type="radio"]:nth-of-type(2):checked ~ .ux-tab-content:nth-of-type(2),
.ux-tab-area [type="radio"]:nth-of-type(3):checked ~ .ux-tab-content:nth-of-type(3),
.ux-tab-area [type="radio"]:nth-of-type(4):checked ~ .ux-tab-content:nth-of-type(4),
.ux-tab-area [type="radio"]:nth-of-type(5):checked ~ .ux-tab-content:nth-of-type(5),
.ux-tab-area [type="radio"]:nth-of-type(6):checked ~ .ux-tab-content:nth-of-type(6),
.ux-tab-area [type="radio"]:nth-of-type(7):checked ~ .ux-tab-content:nth-of-type(7),
.ux-tab-area [type="radio"]:nth-of-type(8):checked ~ .ux-tab-content:nth-of-type(8) {
	display: block;
}

/*** Collapsible (by Unixman) ***/

.ux-collapse div.tab {
	position: relative;
	margin-bottom: 0;
	width: 100%;
	overflow: hidden;
}
.ux-collapse div.tab input {
	position: absolute;
	opacity: 0;
	z-index: -1;
}
.ux-collapse div.tab label {
	color: #333333;
	background: #F7F7F7;
	border: 1px solid #EDEDED;
	border-bottom: 0 !important;
	position: relative;
	display: block;
	padding: 0 0 0 1em;
	font-weight: bold;
	line-height: 3;
	cursor: pointer;
}
.ux-collapse div.tab div.tab-content {
	color: #444444;
	background: #FFFFFF;
	border: 1px solid #EDEDED;
	border-top: 0 !important;
	max-height: 0;
	overflow: hidden;
	transition: max-height .35s;
}
.ux-collapse div.tab:not(:last-child) div.tab-content {
	border-bottom: 0 !important;
}
.ux-collapse div.tab div.tab-content p {
	margin: 1em;
}
.ux-collapse div.tab input:checked ~ div.tab-content {
	max-height: 100vh;
}
.ux-collapse div.tab label::after {
	position: absolute;
	right: 0;
	top: 0;
	display: block;
	width: 3em;
	height: 3em;
	line-height: 3;
	text-align: center;
	transition: all .35s;
}
.ux-collapse div.tab input[type=checkbox] + label::after {
	content: "+";
}
.ux-collapse div.tab input[type=radio] + label::after {
	content: "\25BC";
}
.ux-collapse div.tab input[type=checkbox]:checked + label::after {
	transform: rotate(315deg);
}
.ux-collapse div.tab input[type=radio]:checked + label::after {
	transform: rotateX(180deg);
}

.ux-collapse.dark div.tab label {
	color: #FFFFFF;
	background: #444444;
	border: 1px solid #383838;
}
.ux-collapse.dark div.tab .tab-content {
	color: #FFFFFF;
	background: #555555;
	border: 1px solid #383838;
}

/*** Bars (by Unixman) ***/

.ux-section {
	color: #3C4663 !important;
	background: #FFFFFF !important;
	border: 1px solid #F3973B;
	display: block;
	padding: 7px !important;
	padding-left: 15px !important;
	padding-right: 15px !important;
	margin-bottom: 25px !important;
	border-radius: 2px;
}

.ux-subsection {
	color: #FFFFFF !important;
	background: #3C4663 !important;
	border: 1px solid #6D748C;
	display: block;
	padding: 5px !important;
	padding-left: 10px !important;
	padding-right: 10px !important;
	margin-bottom: 25px !important;
	border-radius: 2px;
}

/*** Steps Bar (by Unixman) ***/

.ux-stepsbar {
	/*centering*/
	display: inline-block;
	box-shadow: 0 0 15px 1px rgba(0, 0, 0, 0.35);
	overflow: hidden;
	border-radius: 5px;
	/*Lets add the numbers for each link using CSS counters. flag is the name of the counter. to be defined using counter-reset in the parent element of the links*/
	counter-reset: flag;
}

.ux-stepsbar a {
	text-decoration: none;
	outline: none;
	display: block;
	float: left;
	font-size: 0.9rem;
	line-height: 2.3rem !important;
	color: #FFFFFF !important;
	/*need more margin on the left of links to accomodate the numbers*/
	padding: 0 10px 0 60px;
	background: #666666;
	position: relative;
}
/* since the first link does not have a triangle before it we can reduce the left padding to make it look consistent with other links */
.ux-stepsbar a:first-child {
	padding-left: 46px;
	border-radius: 5px 0 0 5px; /*to match with the parent's radius*/
}
.ux-stepsbar a:first-child::before {
	left: 14px;
}
.ux-stepsbar a:last-child {
	border-radius: 0 5px 5px 0; /*this was to prevent glitches on hover*/
	padding-right: 20px;
}

/* hover/active styles */
.ux-stepsbar a.active, .ux-stepsbar a:hover{
	background: #444444;
}
.ux-stepsbar a.active::after, .ux-stepsbar a:hover::after {
	background: #444444;
}

/* adding the arrows for the steps bar using rotated pseudo elements */
.ux-stepsbar a::after {
	content: '';
	position: absolute;
	top: 0;
	right: -18px; /*half of square's length*/
	/*same dimension as the line-height of .ux-stepsbar a */
	width: 36px;
	height: 36px;
	/*as you see the rotated square takes a larger height. which makes it tough to position it properly. So we are going to scale it down so that the diagonals become equal to the line-height of the link. We scale it to 70.7% because if square's:
	length = 1; diagonal = (1^2 + 1^2)^0.5 = 1.414 (pythagoras theorem)
	if diagonal required = 1; length = 1/1.414 = 0.707*/
	transform: scale(0.707) rotate(45deg);
	/*we need to prevent the arrows from getting buried under the next link*/
	z-index: 1;
	/*background same as links but the gradient will be rotated to compensate with the transform applied*/
	background: #666666;
	/*stylish arrow design using box shadow*/
	box-shadow:
		2px -2px 0 2px rgba(0, 0, 0, 0.4),
		3px -3px 0 2px rgba(255, 255, 255, 0.1);
		/* 5px - for rounded arrows and 50px - to prevent hover glitches on the border created using shadows */
	border-radius: 0 5px 0 50px;
}
/* dont need an arrow after the last link */
.ux-stepsbar a:last-child::after {
	content: none;
}
/* will use the ::before element to show numbers */
.ux-stepsbar a::before {
	text-align: center;
	content: counter(flag);
	counter-increment: flag;
	/*some styles now*/
	border-radius: 100%;
	width: 20px;
	height: 20px;
	line-height: 20px;
	margin: 8px 0;
	position: absolute;
	top: 0;
	left: 30px;
	background: #444444;
	font-weight: bold;
}

.ux-stepsbar-light a {
	color: #333333 !important;
}
.ux-stepsbar-light a, .ux-stepsbar-light a::after {
	background: #FFFFFF;
	color: #000000;
	transition: all 0.5s;
}
.ux-stepsbar-light a::before {
	background: #FFFFFF;
	box-shadow: 0 0 0 1px #CCCCCC;
}
.ux-stepsbar-light a:hover, .ux-stepsbar-light a.active,
.ux-stepsbar-light a:hover::after, .ux-stepsbar-light a.active::after{
	background: #DDDDDD;
}

/***** END *****/
