<!-- Prism, SmartMathLatex.Div :: r.20221007 -->
<link rel="stylesheet" type="text/css" href="lib/js/jsmathquill/mathquill/fonts.css?[###RELEASE-HASH|url|html###]" media="none" onload="if(media!='all'){media='all';}">
<link rel="stylesheet" type="text/css" href="lib/js/jsmathquill/mathquill/mathquill.css?[###RELEASE-HASH|url|html###]" media="none" onload="if(media!='all'){media='all';}">
<script defer src="lib/js/jsmathquill/mathquill/mathquill.js?[###RELEASE-HASH|url|html###]"></script>
<script defer src="lib/js/jsmathquill/smart-mathquill.js?[###RELEASE-HASH|url|html###]"></script>
<script>jQuery(() => { if((typeof(SmartViewHelpersMathLatexHide) != 'undefined') && (typeof(SmartJS_Custom_Math_Latex_Render) == 'function')) { SmartJS_Custom_Math_Latex_Render('body'); } });</script>
<!-- # -->