<!-- Unveil :: r.20221007 -->
<script defer src="lib/js/jquery/jquery.unveil.js?[###RELEASE-HASH|url|html###]"></script>
<script>
jQuery(() => {
	jQuery(window).on('refreshunveil', () => { jQuery('.unveil').off('unveil').unveil(); });
	setTimeout(() => { jQuery(window).trigger('refreshunveil'); }, 250); // call for init or dom changes that include unveil elements (can include also unhide unveil elements)
	//jQuery(window).trigger('lookup'); // call after unhide unveil elements
});
</script>
<!-- # -->