<!-- JS-UIX :: r.20230123 -->
<!-- SimplePagination -->
<link rel="stylesheet" type="text/css" href="modules/mod-auth-admins/views/js/pager/jquery.simplePagination.css?[###RELEASE-HASH|url|html###]">
<script src="modules/mod-auth-admins/views/js/pager/jquery.simplePagination.js?[###RELEASE-HASH|url|html###]"></script>
<!-- SlickGrid (Smart) -->
<script src="modules/mod-auth-admins/views/js/jquery.event.drag.js?[###RELEASE-HASH|url|html###]"></script>
<script src="modules/mod-auth-admins/views/js/jquery.event.drop.js?[###RELEASE-HASH|url|html###]"></script>
<script src="modules/mod-auth-admins/views/js/jquery.simulate.js?[###RELEASE-HASH|url|html###]"></script>
<link rel="stylesheet" type="text/css" href="modules/mod-auth-admins/views/js/slickgrid/slick.grid.css?[###RELEASE-HASH|url|html###]">
<link rel="stylesheet" type="text/css" href="modules/mod-auth-admins/views/js/slickgrid/slick.grid-fixes.css?[###RELEASE-HASH|url|html###]">
<script src="modules/mod-auth-admins/views/js/slickgrid/slick.grid.js?[###RELEASE-HASH|url|html###]"></script>
<script src="modules/mod-auth-admins/views/js/slickgrid/slick.editors.js?[###RELEASE-HASH|url|html###]"></script>
<script src="modules/mod-auth-admins/views/js/slickgrid/smart-grid.js?[###RELEASE-HASH|url|html###]"></script>
<!-- # -->